<!-- inventory.html -->
<div class="form">
	<form method="post" action="main.py">

			Search Inventory
			<input class="input_string" type="text" name="search_item" id="searchItem" placeholder="Field Under Construction">
			<input class="button" type="submit" name="search" value="Search" disabled><br />
			<!-- TODO make this into a toggle/checkbox -->
			<a href="#display" class="btn btn-default" id="displayInventory">Display Inventory</a>	
			<a href="#hidden" style="display: none;" class="btn btn-default" id="hideInventory">Hide Inventory</a>		
			<ol class="itemList" id="inventory"></ol>
	</form>
</div>
<div class="form">
	<form method="post" action="main.py">

			Add Item
			<input class="input_string" type="text" name="add_item_input" id="addItem" placeholder="Field Under Construction">
			<input class="button" type="submit" name="add_item" value="Add Item" disabled>
		
	</form>
</div>
<div class="form">
	<form method="get" action="main.py">

			Remove Inventory Item
			<input class="input_string" type="text" name="remove_item_input" id="rmvItem" placeholder="Field Under Construction">
			<input class="button" type="submit" name="remove_item" value="Remove Item" disabled>

	</form>
</div>

<script type='text/javascript' src='js/retInv.js'></script>