<!-- inventory.html -->
<div class="form">
	<form method="post" action="main.py">

			Search Inventory
			<input class="input_string" type="text" name="search_item" id="searchItem">
			<input class="button" type="submit" name="search" value="Search"><br />
			<a href="#displayInvButton" class="btn btn-default" id="displayInventory">Display Inventory</a>		
			
	</form>
</div>
<div class="form">
	<form method="post" action="main.py">

			Add Item
			<input class="input_string" type="text" name="add_item_input" id="addItem">
			<input class="button" type="submit" name="add_item" value="Add Item">
		
	</form>
</div>
<div class="form">
	<form method="get" action="main.py">

			Remove Inventory Item
			<input class="input_string" type="text" name="remove_item_input" id="rmvItem">
			<input class="button" type="submit" name="remove_item" value="Remove Item">

	</form>
</div>