<!-- tripReports -->
<div class="reports" id="nov_07_2015">
	<strong>November 07-08 2015</strong><br />
		Based on a whim, Jacob Moison proposed the idea of a "pre-winter" camping overnighter. Therefore, I planned a weekend where limits could be tested of course! This started out as, "let's just camp somewhere in New Hampshire" and evolved to "let's camp in the northern Presidentials and hike 10 miles"; thank you Mike Hasse for the additional inspiration. Pete Wright, Matt Derrig, Jacob, and myself, headed north just before noon on Saturday. I invited Laura Schiller out and she planned to meet us Sunday morning for the hike. The plan was to camp near the Caps Ridge Trailhead just above 3000' and then traverse point-to-point across the northern presidentials from Jefferson to Madison via Adams and the Appalachian Trail.<br /><br />
		<img class="tpImgs" src='tpData/2015/November/7/1.jpg' /><br />
		Base camp near the parking lot<br /> <br />
		<img class="tpImgs" src='tpData/2015/November/7/2.jpg' /><br />
		Seeing Pete's hammock for the first time<br /><br />
		<img class="tpImgs" src='tpData/2015/November/7/3.jpg' /><br />
		Close-up shot of Pete's hammock complete with custom handmade underquilt<br /> <br />
		<img class="tpImgs" src='tpData/2015/November/7/4.jpg' /><br />
		But what about second dinner...in a backpacking stove<br /><br />
		I will take a step back here and preface the following report with some of this group's outdoor wilderness experiences. Jacob has been my hiking partner since 2013 and we have progressed at a similar pace with the exception that I had previous outdoor experience growing up as a scout. He was my partner for the Presidential traverse in 2014 and the Pemigewasset loop a few months prior to this trip.  Pete has been a driven individual and has been Jacob's adventure partner when I've been busy.  He has also solo bike-packed in the Green Mountains.  Laura has been a Venture scout, Wilderness First Aid certified, and biked across the US solo.  Now, I've known Matt since 2011 and he is my roommate. Although we haven't been on any previous trips before, I have learned to trust in his own judgement as much as he trusts in my ability to judge his abilities.  This would prove as a valuable bonding experience as to what happened next.<br /><br />
		Noting that Matt did not sleep well during the night, and was nursing a mild stomach discomfort, we decided to push on with our hike as planned.  At a steady pace, we appeared to be on schedule to make it to Madison.  As we neared the Ridge of Caps, just over 1 mile and 1000ft vertical from the start, the winds picked up, the clouds were imposing, and the snow started falling.  At this point, Matt started to feel uncomfortable both on an internal abdominal and skill level discomfort.<br /><br />
		As trip leader, I knew we hadn't gone that far from the parking lot, and I felt that we could have pushed on a bit further, but there was general unease at Matt's current level of distress. I left it up to him to decide whether or not he wanted to continue.<br /><br />
		Matt decided to turn back.  Accepting his decision, but not wanting to eliminate all possibilities of a summit, we decided that Pete and Jacob should continue on, and Laura and I walk with Matt down to the parking lot.<br /><br />
		After descending roughly 500 vertical off the Ridge of Caps and onto well-traveled flat trail, Matt and I assessed that it would be unlikely for him to have trouble making it back to the car with incident at that point. Laura and I agreed with his judgment, and then turned around once again to see if we could catch up to Pete and Jacob.<br /> <br />
		<img class="tpImgs" src='tpData/2015/November/7/5.jpg' /><br />
		We caught up, but near the summit of Mt. Jefferson<br /> <br />
		<img class="tpImgs" src='tpData/2015/November/7/6.jpg' /><br />
		Summit selfie<br /><br />
		At this point, we were getting blown over by 30-45mph gusts, and decided that our safety margin with our gear was too low to continue.<br /><br />
		<img src='tpData/2015/November/7/7.jpg' /><br />
		Descending off the summit back near the Ridge of Caps, the wind blew the clouds away.  We finally had color and sunshine appear.  A great adventure was had by all, which is what I call a success.<br /><br />
		<a href='http://www.movescount.com/moves/move82678072' class='btn btn-default' id='ms_2015_11_07'>Movescount Trip Details including GPS</a>
		 
</div>
 